{{define "title"}}Moderation updated{{end}}
{{template "head" .}}
<p class="header"><a href="/">Comms</a> | <a href="../../">Forums</a> | Moderation updated</p>

<p>The moderation requests have been updated. You may now <a href="../../">return</a>.</p>

{{template "foot" .}}
