{{define "title"}}Forum created{{end}}
{{template "head" .}}
<p class="header"><a href="/">Comms</a> | <a href="../">Forums</a> | Forum created</p>

<p>Your forum has been created. You may now <a href="../view/?id={{.}}">view</a> it.</p>

{{template "foot" .}}
