{{define "title"}}Forums{{end}}
{{template "head" .}}
<p class="header"><a href="/">Comms</a> | Forums</p>

<p><a href="find/">Subscribe to a forum</a> | <a href="new/">Create a forum</a></p>

<p>{{if len .}}{{range .}}<a href="view/?id={{.ID}}">{{.Name}}</a><br/>{{end}}
{{else}}You are not subscribed to any forums{{end}}</p>

{{template "foot" .}}
