{{define "title"}}Comms: Search for forums{{end}}
{{template "head" .}}
<p class="header"><a href="/">Home</a> | <a href="../">Forums</a> | Forums found</p>

{{if len .}}<p>Click on a forum to subscribe:</p>

<p>{{range .}}<a href="../subscribe/?id={{.ID}}&name={{.Name}}">{{.Name}}</a><br/>{{end}}</p>
{{else}}<p>No matches found.</p>{{end}}

{{template "foot" .}}
