{{define "title"}}Comms: Subscribed to forum{{end}}
{{template "head" .}}
<p class="header"><a href="/">Home</a> | <a href="../">Forums</a> | Subscribed to forum</p>

<p>You are now subscribed to this forum. You may now <a href="../view/?id={{.}}">view</a> it.</p>

{{template "foot" .}}
