{{define "title"}}Subscribed to forum{{end}}
{{template "head" .}}
<p class="header"><a href="/">Comms</a> | <a href="../">Forums</a> | Subscribed to forum</p>

<p>You are now subscribed to this forum. Please note that it may take a short time to download recent posts. You may now <a href="../view/?id={{.}}">view</a> the forum.</p>

{{template "foot" .}}
