{{define "title"}}Unsubscribed from forum{{end}}
{{template "head" .}}
<p class="header"><a href="/">Comms</a> | <a href="../">Forums</a> | Unsubscribed from forum</p>

<p>You are no longer subscribed to this forum. You may now <a href="../">return</a>.</p>

{{template "foot" .}}
