<h2>Chats</h2>

<p>{{if len .}}{{range .}}<a href="/?app=chat&action=view&friend={{.ID}}">Chat with {{.Name}}</a><br/>{{end}}
{{else}}You have no chats{{end}}</p>

<p><a href="?app=chat&action=new">New chat</a></p>
