<h2>Chat with {{.Friend.Label}}</h2>

<pre>{{.Messages}}</pre>

<form action="/chat/view/">
	<input type="hidden" name="friend" value="{{.Friend.Name}}"/>
	<label for="message">Send message:</label>
	<input type="text" name="message" autofocus/>
	<input type="submit" value="Send"/>
</form>
