# Local files
local
mochi-server

# Dependencies
node_modules/

# Production build
dist/
dist-ssr/
.vite/

# Environment
# .env*
# !.env.example

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Editor junk
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.njsproj
*.sw?

# OS
Thumbs.db
