{{define "title"}}Log in to Comms{{end}}
{{template "head" .}}
<h2>Enter security code</h2>

<form method="post" action="/login">
	<label for="email">Code you received via email at {{.}}:</label>
	<input type="text" name="code" autofocus/><br/>
	<input type="submit" value="Log in" />
</form>

{{template "foot" .}}
