{{define "title"}}Log in to Comms{{end}}
{{template "head" .}}
<h2>Log in</h2>

<form method="post" action="/login">
	<label for="email">Your email address:</label>
	<input type="text" name="email" placeholder="user@example.com" autofocus/><br/>
	<input type="submit" value="Send email with login link" />
</form>

{{template "foot" .}}
