{{define "title"}}Comms login{{end}}
{{template "head" .}}

<h2>Set your name</h2>

<form action="/login/name/">
	<label for="name">Your name, as you'd like others to see it:</label>
	<input type="text" name="name" autofocus/><br/>
	<input type="submit" value="Set" />
</form>

{{template "foot" .}}
