{{define "title"}}Comms: Vote recorded{{end}}
{{template "head" .}}
<p class="header"><a href="/">Home</a> | <a href="../../">Forums</a> | <a href="../../view/?id={{.Forum.ID}}">{{.Forum.Name}}</a> | Vote recorded

<p>Your vote has been recorded. You may now <a href="../../post/view/?id={{.Post}}">view</a> the post.</p>

{{template "foot" .}}
