{{define "title"}}Feeds{{end}}
{{template "head" .}}
<p class="header"><a href="/">Comms</a> | Feeds</p>

<p><a href="/feeds/find">Subscribe to a feed</a> | <a href="/feeds/new">Create a feed</a></p>

<p>{{if len .Feeds}}{{range .Feeds}}<a href="/feeds/{{.Fingerprint}}">{{.Name}}</a> | &#9786;{{.Subscribers}}<br/>{{end}}
{{else}}You are not subscribed to any feeds{{end}}</p>

<p>{{range .Posts}}<a href="/feeds/{{$.Feed.ID}}/{{.ID}}">{{.Body}}</a> | <a href="/feeds/{{$.Feed.ID}}/{{.ID}}/react/like">Like</a> &#8618;{{.Comments}}<br/>{{end}}</p>

{{template "foot" .}}
