{{define "title"}}{{if .Feed}}{{.Feed.Name}}{{else}}Feeds{{end}}{{end}}
{{template "head" .}}
<p class="header"><a href="/">Comms</a> | <a href="/feeds">Feeds</a>{{if .Feed}} | {{.Feed.Name}}{{end}}</p>

{{range .Feeds}}<a href="/feeds/{{.ID}}">{{.Name}}</a> | {{end}}

{{if .Feed}}{{if .Subscriber}}<p>{{if .Owner}}<a href="/feeds/{{.Feed}}/post">New post</a> | {{end}}<a href="/feeds/{{.Feed}}/unsubscribe">Unsubscribe</a></p>{{end}}{{end}}

<!--TODO Date and time-->

{{range .Posts}}<p><a href="/feeds/{{.Feed}}/{{.ID}}">{{.Body}}</a> | &#8618;{{.Comments}}<br/>
<!-- TODO Add scroll bar -->
{{range .Attachments}}<a href="/files/{{.Feed}}/{{.File}}/{{.Name}}"><img src="/files/thumbnail/{{.Feed}}/{{.File}}/{{.Name}}"/></a>&nbsp;{{end}}

<!--TODO Separate posts-->

</p>{{end}}

{{template "foot" .}}
