{{define "title"}}{{.Feed.Name}}{{end}}
{{template "head" .}}
<p class="header"><a href="/">Comms</a> | <a href="/feeds">Feeds</a> | {{.Feed.Name}}</p>

{{if .Subscriber}}<p><a href="/feeds/{{.Feed.ID}}/post">New post</a> | <a href="/feeds/{{.Feed.ID}}/unsubscribe">Unsubscribe</a></p>{{end}}

<p>{{range .Posts}}<a href="/feeds/{{$.Feed.ID}}/{{.ID}}">{{.Body}}</a> | <a href="/feeds/{{$.Feed.ID}}/{{.ID}}/react/like">Like</a> &#8618;{{.Comments}}<br/>{{end}}</p>

{{template "foot" .}}
