{{define "title"}}Members updated{{end}}
{{template "head" .}}
<p class="header"><a href="/">Comms</a> | <a href="../../">Forums</a> | <a href="../../view/?id={{.Forum.ID}}">{{.Forum.Name}}</a> | Members updated

<p>The members have been updated. You may now <a href="../../view/?id={{.Forum.ID}}">return</a>.</p>

{{template "foot" .}}
