<p class="header"><a href="/">Home</a> | Friends</p>

<p>{{if len .Friends}}{{range .Friends}}<p>{{.Label}} | <a href="/friends/delete/?id={{.Name}}">Delete</a><br/>{{end}}
{{else}}You have no friends.{{end}}</p>

<p><a href="/friends/new/">Add a new friend</a></p>

{{if len .Invites}}<p>Or click on a received invitation:</p>

<p>{{range .Invites}}{{.Label}} | <a href="/friends/accept/?id={{.Name}}">Accept</a> | <a href="/friends/ignore/?id={{.Name}}">Ignore</a><br/>{{end}}</p>{{end}}
