<h2>New friend</h2>

<h3>Search for friends:</h3>

<form>
	<input type="hidden" name="app" value="friends"/>
	<input type="hidden" name="action" value="search"/>
    <label for="search">Name or part of your friend's name:</label>
    <input type="text" name="search"/><br/>
    <input type="submit" value="Search"/>
</form>

<h3>Or manually enter your friend's details:</h3>

<form>
	<input type="hidden" name="app" value="friends"/>
	<input type="hidden" name="action" value="create"/>
	<label for="name">Your friend's name:</label>
	<input type="text" name="name"/><br/>
	<label for="id">Your friend's public key:</label>
	<input type="text" name="id"/><br/>
	<input type="submit" value="Add friend"/>
</form>
