<h2>Friends found</h2>

{{if len .}}<p>Click on a friend to add them:</p>

<p>{{range .}}<a href="/friends/create/?id={{.ID}}&name={{.Name}}">{{.Name}}</a><br/>{{end}}</p>
{{else}}<p>No matches found.</p>{{end}}
