[Unit]
Description=Mochi server
After=network.target

[Service]
Type=simple
ExecStartPre=+setcap CAP_NET_BIND_SERVICE=+eip /usr/bin/mochi-server
ExecStart=/usr/bin/mochi-server
User=mochi
Group=mochi
PIDFile=/run/mochi-server.pid
Restart=on-abnormal
RestartSec=1
LimitSTACK=infinity
LimitNOFILE=65535
LimitNPROC=65535

[Install]
WantedBy=multi-user.target
