{{define "title"}}Comms{{end}}
{{template "head" .}}
<p class="header">Comms | {{.User.Username}}</p>

{{if .Welcome}}<p>Welcome to Comms, the open source social operating system. Why not create <a href="/feeds/new/">a feed</a>?</p>{{end}}

{{if len .Notifications}}<h2>Notifications:</h2>
<p>{{range .Notifications}}{{if len .Link}}<a href="{{.Link}}">{{.Content}}</a>{{else}}{{.Content}}{{end}}<br/>{{end}}</p>
<p><a href="/?action=clear">Clear notifications</a></p>{{end}}

{{if len .Paths}}<h2>Apps:</h2>
<p>{{end}}
{{range .Paths}}<a href="/{{.Path}}">{{.Labels.en}}</a><br/>{{end}}
{{if len .Paths}}</p>{{end}}

<a href="/?action=logout">Log out</a></p>

{{template "foot" .}}
