{{define "title"}}Comms{{end}}
{{template "head" .}}

<p class="header">Comms | {{.User.Username}}</p>

{{.Notifications}}

{{if len .Apps}}<h2>Apps:</h2>
<p>{{end}}
{{range .Apps}}<a href="/{{.Path}}/">{{.Labels.en}}</a><br/>{{end}}
{{if len .Apps}}</p>{{end}}

<a href="?action=logout">Log out</a></p>

{{template "foot" .}}
