{{define "head"}}
<!DOCTYPE html>
<html>
<head>
<title>{{template "title" .}}</title>
<style>.header { background-color: #a5db89; margin: 0px; padding: 0.2em; }</style>
</head>
<body>
{{end}}

{{define "foot"}}
</body>
</html>
{{end}}
