{{define "head"}}
<!DOCTYPE html>
<html>
<head>
<title>{{template "title" .}}</title>
<style>.header { background-color: #005eb9; color: #ffffff; font-weight: bold; a:link { color: #ffffff }; a:visited { color: #ffffff }; margin: 0px; padding: 0.2em; }</style>
</head>
<body>
{{end}}

{{define "attachments"}}
{{if .Attachments}}{{if len .Attachments}}<div style="overflow-x: auto; white-space: nowrap;">
{{range .Attachments}}<a href="/attachments/{{.Entity}}/{{.ID}}" style="z-index: 2;">{{if .Image}}<img src="/attachments/{{.Entity}}/{{.ID}}/thumbnail" title="{{.Name}}"/>{{else}}<span style="display: inline-block; white-space: pre-line;">{{.Name}}<br/>{{.Size}} bytes</span>{{end}}</a>&nbsp;
{{end}}
</div>{{end}}{{end}}
{{end}}

{{define "foot"}}
</body>
</html>
{{end}}
