{{define "title"}}{{.Name}}{{end}}
{{template "head" .}}
<p class="header"><a href="/">Comms</a> | <a href="/chat">Chat</a> | {{.Chat.Name}}</p>

<p id="messages"></p>
<input type="text" id="message" size="10000" style="width: 90%" autofocus onkeypress="keypress(event)"/>
<input type="button" value="Send" onclick="message_send()"/>

<script>
const r = new XMLHttpRequest();
r.onload = function() { messages_receive(this.responseText) }
r.open("GET", "/chat/{{.Chat.ID}}/messages");
r.send();
const ws = new WebSocket( 'ws://' + window.location.host + '/websocket' );
ws.addEventListener( 'message', (event) => { message_receive( event.data ) } );

function keypress( event ) {
	if ( event.key === 'Enter') {
		event.preventDefault();
		message_send();
	}
}

function message_receive( j ) {
	const m = JSON.parse( j )
	const c = JSON.parse( m.content );
	const messages = document.getElementById( 'messages' );
	messages.innerHTML = messages.innerHTML + '<br/>';
	messages.innerText = messages.innerText + c.name + ': ' + c.body
	window.scrollTo( 0, document.body.scrollHeight );
}

function messages_receive( j ) {
	const messages = document.getElementById( 'messages' );
	const ms = JSON.parse( j )
	for ( var i in ms ) { 
		messages.innerHTML = messages.innerHTML + '<br/>';
		messages.innerText = messages.innerText + ms[i].Name + ': ' + ms[i].Body
	}
	window.scrollTo( 0, document.body.scrollHeight );
}

function message_send( to ) {
	const b = new URLSearchParams();
	b.append( 'message', document.getElementById('message').value );
	fetch( window.location.origin + '/chat/{{.Chat.ID}}/send', { method: 'post', body: b });
	document.getElementById( 'message' ).value = '';
}
</script>

{{template "foot" .}}
