{{define "title"}}Comms: Post created{{end}}
{{template "head" .}}
<p class="header"><a href="/">Home</a> | <a href="/forums/">Forums</a> | <a href="../../view/?id={{.ID}}">{{.Name}}</a> | Post created

<p>Your post has been created. You may now <a href="../../view/?id={{.ID}}">view</a> it.</p>

{{template "foot" .}}
