{{define "title"}}New post{{end}}
{{template "head" .}}
<p class="header"><a href="/">Comms</a> | <a href="../../">Forums</a> | <a href="../../view/?id={{.ID}}">{{.Name}}</a> | New post

<form action="../create/">
	<input type="text" name="title" size="1000"/>
	<textarea name="body" rows="20" cols="100"></textarea><br/>
	<input type="hidden" name="forum" value="{{.ID}}"/>
    <input type="submit" value="Post"/>
</form>

{{template "foot" .}}
