{{define "forum_comment"}}
<hr/>
<pre>{{.Body}}</pre><p style="font-variant: small-caps;">{{.Name}} | {{.CreatedString}} | <a href="../../comment/new/?forum={{.Forum}}&post={{.Post}}&parent={{.ID}}">Reply</a></p>
{{if .Children}}{{range .Children}}<div style="border-left: 2px solid blue; padding-left: 10px;">{{template "forum_comment" .}}</div>{{end}}{{end}}
{{end}}

{{define "title"}}Comms: {{.Post.Title}}{{end}}
{{template "head" .}}
<p class="header"><a href="/">Home</a> | <a href="../../">Forums</a> | <a href="../../view/?id={{.Forum.ID}}">{{.Forum.Name}}</a> | {{.Post.Title}}</p>

<h3>{{.Post.Title}}</h3>
<pre>{{.Post.Body}}</pre>

<p style="font-variant: small-caps;">{{.Post.Name}} | {{.Post.CreatedString}} | <a href="../../comment/new/?forum={{.Forum.ID}}&post={{.Post.ID}}">New comment</a></p>

<p>{{range .Comments}}{{template "forum_comment" .}}{{end}}</p>

{{template "foot" .}}
