{{define "title"}}{{.Post.Title}}{{end}}
{{template "head" .}}
<p class="header"><a href="/">Comms</a> | <a href="/forums">Forums</a> | <a href="/forums/{{.Forum.ID}}">{{.Forum.Name}}</a> | {{.Post.Title}}</p>

<h3>{{.Post.Title}}</h3>
<pre>{{.Post.Body}}</pre>

<p style="font-variant: small-caps;">{{.Post.Name}} {{.Post.CreatedString}} &#8618;{{.Post.Comments}}{{if $.RoleCommenter}} <a href="/forums/{{.Forum.ID}}/{{.Post.ID}}/comment">New comment</a>{{end}}{{if $.RoleVoter}} <a href="/forums/{{.Forum.ID}}/{{.Post.ID}}/vote/up">&uarr;{{.Post.Up}}</a> <a href="/forums/{{.Forum.ID}}/{{.Post.ID}}/vote/down">&darr;{{.Post.Down}}</a>{{else}} &uarr;{{.Up}} &darr;{{.Down}}{{end}}</p>

<p>{{range .Comments}}{{template "forum_comment" .}}{{end}}</p>

{{template "foot" .}}

{{define "forum_comment"}}
	<hr/>
	<pre>{{.Body}}</pre><p style="font-variant: small-caps;">{{.Name}} {{.CreatedString}}{{if $.RoleCommenter}} <a href="/forums/{{.Forum}}/{{.Post}}/comment?parent={{.ID}}">Reply</a>{{end}}{{if $.RoleVoter}} <a href="/forums/{{.Forum}}/{{.Post}}/{{.ID}}/vote/up">&uarr;{{.Up}}</a> <a href="/forums/{{.Forum}}/{{.Post}}/{{.ID}}/vote/down">&darr;{{.Down}}</a>{{else}} &uarr;{{.Up}} &darr;{{.Down}}{{end}}</p>
	{{range .Children}}<div style="border-left: 2px solid blue; padding-left: 10px;">{{template "forum_comment" .}}</div>{{end}}
{{end}}
